<div class="site-container d-flex flex-row row">
    <div class="sidebar col-12 col-lg-3">
        <div class="favorites sidebar-section col-8 offset-2 d-flex flex-column justify-content-start">
            <div class="sidebar-section-title">
                Categorías
            </div>
            <ul class="sidebar-section-items">
                <li routerLink="guides" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Todas</li>
                <!-- <li><a>iCloud Drive</a></li>
                <li><a>Applications</a></li>
                <li class="active"><a>Israel</a></li>
                <li><a>Pictures</a></li> -->
            </ul>
        </div>
        <div class="devices sidebar-section  col-8 offset-2 d-flex flex-column justify-content-start">
            <div class="sidebar-section-title">
                Configuración
            </div>
            <ul class="sidebar-section-items">
                <li routerLink="guides/structure" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Structure</li>
                <!-- <li><a>Hard Drive</a></li> -->
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-9 page-container d-flex flex-column">
        <router-outlet></router-outlet>
    </div>
</div>